.container-btn--header {
  display: flex;
  align-items: center;
}

.login-btn--header {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.burguer-menu--header {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
