//variables

// colors
$primary: #c04281;
$secondary: #74677d;
$light-overlay: #ab5099;
$white: #ffffff;
$gray: #b2b2b2;
$dark-gray: #313131;
$text-search: #888888;
$input-search: #ececec;

$background-light: #ffffff;
$background-dark: #313131;

// fonts
$font-family: Roboto, 'Helvetica Neue', Arial;

// img
$hero-img: url('assets/img/hero-image.jpg');
