@import 'variables';

// reset html native css and add support

@import 'normalize';

// import bootstrap

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// screens components imports

// components imports

@import './components/layout';
@import './components/header';
@import './components/footer';
@import './components/searchBar';
@import './components/cardItem';
@import './components/itemList';
@import './components/container';
@import './components/navigationHeaderInfo';

// global styles
body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
